/* @import "@fontsource/open-sans/index.css"; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.section-wrapper {
  width: 100%;
  padding: 0 20px;
  background-color: #fefefb;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.login-wrapper {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 150px;
  height: 100vh;
  padding: 0 20px;
}

.login-logo {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 11px;
}

.login-form-wrapper {
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.login-form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  padding-top: 130px;
}

.login-form-wrapper form label {
  width: 100%;
}

.login-form-wrapper form input {
  max-width: 340px;
  width: 100%;
  background-color: #fff6de;
  color: #2b361c;
  border: none;
  border-radius: 17px;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
}

.login-form-wrapper form input:focus,
input,
textarea {
  outline: none;
}

.login-form-wrapper form input::placeholder {
  color: #2b361c;
}

.login-form-wrapper form a.login {
  max-width: 340px;
  width: 100%;
  padding: 11px 30px;
  background-color: #f7b085;
  margin-top: 38px;
  text-align: center;
  font-size: 23px;
  line-height: 31px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #2b361c;
  border: none;
  border-radius: 17px;
  text-decoration: none;
}

.login-form-wrapper form a {
  font-size: 13px;
  margin-top: 7px;
  color: #13313c;
  font-family: "Open Sans", sans-serif;
}

.btn {
  padding: 11px 30px;
  max-width: 338px;
  width: 100%;
  text-align: center;
  font-size: 23px;
  line-height: 31px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  border-radius: 17px;
  border: none;
}

.btn-primary.btn:hover {
  background-color: #f9d577;
  color: #2b361c;
}

.btn-primary {
  background-color: #f9d577;
  color: #2b361c;
}

.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13313c71;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 0 20px;
}

.popup-wrapper.show {
  display: flex;
}

.popup {
  position: absolute;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  padding: 42px 16px;
  border-radius: 23px;
  background-color: #13313c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.popup .popup-text {
  text-align: center;
}

.popup h3 {
  font-size: 22px;
  line-height: 30px;
  color: #edf4f4;
  font-weight: 600;
  margin: 0;
}

.popup p {
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
  margin: 0;
  color: #edf4f4;
}

.popup #closePopup {
  margin-bottom: 15px;
}

/* dashboard */

.sidebar {
  margin-left: 0px;
  height: calc(100vh - 117px);
  position: fixed;
  top: 117px;
  z-index: 9;
  width: 100px;
  padding: 0 10px 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
  transition: all ease-in-out 0.3s;
}

.sidebar .logo {
  width: 50px;
}

.sidebar .sidebar-links-wrap {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
}

.sidebar .sidebar-links-wrap .sidebar-link {
  padding: 0;
}

.sidebar .sidebar-links {
  padding: 5px;
}

.sidebar-links a {
  display: block;
}

.sidebar-links img {
  width: 18px;
  height: auto;
}

/* header  */
.header {
  width: 100%;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  align-items: center;
  position: fixed;
  margin-left: 100px;
  background-color: #fff;
  z-index: 2;
  top: 0;
  right: 0;
}

.header .logo {
  margin-left: 7px;
  width: 50px;
  height: 55px;
}

.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hamburder-bnt {
  display: none;
}

.header .hamburder-bnt svg {
  width: 45px;
  height: 45px;
}

.nav-show .sidebar {
  left: 0;
  z-index: 9;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #13313c71;
  z-index: -9;
}

.nav-show .overlay {
  width: 100%;
  height: 100%;
  z-index: 3;
}

.header .header-right {
  width: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.header h1 {
  font-size: 20px;
  line-height: 17px;
  color: #5d7396;
  font-weight: 700;
  text-transform: uppercase;
}

.header .header-filter-wrapper {
  max-width: 235px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  background-color: #fff6de;
  border-radius: 17px;
}

.sidebar-inner .logo {
  display: none;
}

.main-container {
  margin-top: 115px;
}



.header .header-filter-wrapper .filter-text {
  display: flex;
  align-items: center;
}

select {
  -webkit-animation: none;
  appearance: none;
  background-color: transparent;
  border: none;
}

select:focus {
  outline: none;
}

.header .header-filter-wrapper .filter-text p,
.header .header-filter-wrapper select {
  font-size: 11px;
  line-height: 15px;
  color: #2b361c;
}

.header .header-filter-wrapper.filter-active .filter-text p,
.header .header-filter-wrapper.filter-active select {
  color: #2377bd;
}

.header .header-filter-wrapper select {
  font-weight: 600;
  padding-right: 15px;
}

.header .header-filter-wrapper .filter-select-wrapper {
  position: relative;
}

.header .header-filter-wrapper select:focus {
  outline: none;
}

.header .header-filter-wrapper .filter-select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  background-image: url(src/img/select-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateY(-30%);
}

/* inner container */

.inner-main-container {
  width: calc(100% - 100px);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

/* inner top  */
.inner-top-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 15px;
}

.inner-top-container .content-card {
  padding: 20px 15px;
}

.inner-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  justify-content: space-between;
}

.inner-container .inner-card {
  justify-content: unset;
}

.inner-card .card-top {
  align-items: center;
}

.content-card h2,
.card-top h2 {
  text-transform: uppercase;
  font-size: 19px;
  line-height: 26px;
  font-weight: 700;
  color: #30455c;
}

.top-card span,
.inner-top-container .inner-card span {
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
  color: #30455c;
}

.select-wrappper {
  background-color: #fff6de;
  border-radius: 17px;
  position: relative;
}

.select-wrappper::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 16px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  background-image: url(src/img/select-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.select-wrappper select {
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
  color: #2377bd;
  text-transform: capitalize;
  padding: 10px 17px;
  padding-right: 28px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .card-text-content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
} */

.card-text-content {
  /* padding: 10px 0; */
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.card-text-content p {
  font-size: 16px;
  line-height: 21px;
  color: #2b361c;
  font-family: "Open Sans", sans-serif;
}

.card-text-content a {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #2377bd;
}

.card-user-container p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.card-text-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.inner-container {
  width: 100%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 15px;
}

.inner-container .content-card {
  padding: 15px 26px;
}

.content-card,
.user-accordion-section {
  border: 1px solid #2377bd;
  border-radius: 15px;
}

.user-accordion-section {
  padding: 30px 33px 30px 50px;
}

.user-accordion-section .user-accordion {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  padding-right: 40px;
}

.user-accordion table {
  min-width: 750px;
  width: 100%;
  border-collapse: collapse;
}

.user-accordion table th {
  padding-bottom: 11px;
  border-bottom: 1px solid #2377bd;
}

.accordion-heading span {
  margin-left: 10px;
}

.user-accordion tbody tr:first-child td {
  padding-top: 30px;
}

td {
  border-bottom: 1px solid #2377bd;
  padding-bottom: 20px;
  padding-top: 20px;
}

.user-accordion td {
  border-bottom: 1px solid #2378bd59;
}

.user-accordion tbody .full-name {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  position: relative;
}

.user-accordion tbody td p,
.user-accordion tbody td a {
  font-size: 13px;
  line-height: 27px;
  color: #13313c;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.edit-dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  gap: 3px;
  cursor: pointer;
}

.edit-dots-wrap {
  position: relative;
  padding-right: 58px;
  width: fit-content;
  margin: 0 auto;
}

.edit-dots-wrap .edit-dots-popup {
  position: absolute;
  top: 0;
  left: 10px;
  width: 68px;
  height: auto;
  padding: 10px 14px;
  background-color: #f7b085;
  border-radius: 9px;
  opacity: 0;
  transform: scaleX(0);
}

.edit-dots-popup.show {
  opacity: 1;
  transform: scaleX(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1;
}

.edit-dots-popup a {
  font-size: 13px;
  line-height: 17px !important;
  color: #ffffff !important;
  text-decoration: none;
}

.edit-dots span {
  width: 5px;
  height: 5px;
  background-color: #13313c;
  border-radius: 50%;
}

.user-accordion tbody .full-name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 7px;
  background-image: url(src/img/accordion-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.accordion-heading {
  font-size: 14px;
  /* line-height: 9px; */
  line-height: normal;
  font-weight: 700;
  color: #2377bd;
  padding-right: 20px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.resource-container.content-card {
  padding: 25px;
}

.resource-container .resource-select-wrap {
  display: flex;
  gap: 20px;
}

.resource-card-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-content: flex-start;
  gap: 23px 13px;
}

.resource-card {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.resource-card .resource-img {
  width: 100%;
  min-height: 130px;
  border-radius: 10px;
}

.resource-card .resource-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.resource-title h3 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.resource-content p {
  font-size: 10px;
  line-height: 15px;
  font-family: "Open Sans", sans-serif;
  color: #2a333e;
}

.resource-card .resource-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.resource-title .edit-dots-wrap {
  padding-right: 0;
  margin-right: 0;
  margin-left: auto;
}

.resource-title .edit-dots-wrap .edit-dots-popup {
  left: unset;
  left: -75px;
}

.resource-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  margin-top: auto;
}

.resource-bottom .likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.resource-bottom .likes p {
  font-size: 9px;
  line-height: 12px;
  color: #2b361c;
  line-height: normal;
}

.resource-bottom-text p {
  font-size: 9px;
  line-height: 12px;
  font-weight: 700;
  color: #2377bd;
  text-transform: uppercase;
}

/* user management  */
.top-searchbar-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.top-searchbar-wrap input[type="search"] {
  /* width: calc(100% - 122px); */
  width: 100%;
  border-radius: 17px;
  background-color: #fff6de;
  padding: 10px 20px;
  font-size: 11px;
  line-height: 15px;
  font-family: "Open Sans", sans-serif;
  border: none;
}

.user-accordion table th:last-child .accordion-heading {
  text-align: left;
}

.accordion-collapse-inner td:last-child {
  width: 10%;
}

.top-searchbar-wrap input[type="search"]:focus {
  outline: none;
}

.top-search-btn {
  max-width: 122px;
  width: 100%;
}

.top-search-btn .btn {
  background-color: #f7b085;
  color: #2b361c;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
}

.animated-collapse {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.collapse.show.animated-collapse {
  transform: scaleY(1);
  opacity: 1;
}

.accordion-collapse .accordion-collapse-inner {
  padding-left: 20px;
}

.user-accordion .accordion-collapse-inner th {
  padding-bottom: 9px;
  border-bottom: 1px solid #a2caec;
  font-size: 12px;
  line-height: 9px;
  font-weight: 700;
  color: #2377bd;
}

.user-accordion .accordion-collapse table {
  width: 100%;
}

.accordion-collapse-inner td {
  width: 20%;
  padding: 15px 45px 0 0 !important;
  border-bottom: unset;
}

.accordion-collapse-inner td p {
  font-size: 12px;
}

/* resource popup */
.btn-popup {
  background-color: #a2caec;
  color: #2b361c;
  max-width: 193px;
  width: 100%;
  padding: 11px 50px;
  font-size: 23px;
  line-height: 31px;
  font-weight: 700;
  border: 1px solid transparent;
}

.btn-popup:hover {
  border: 1px solid #a2caec;
  color: #a2caec;
}

.add-resources-popup {
  background-color: #13313c;
  border-radius: 23px;
  padding: 50px 40px 30px 40px;
  max-width: 780px;
  width: 100%;
  position: relative;
}

.add-resources-popup .modal-title {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 5px;
  color: #edf4f4;
}

.add-resources-popup .resource-title input,
.add-resources-popup .resource-check-and-popup select,
.add-resources-popup .resource-content textarea,
.inbox-right-container input,
.inbox-right-container textarea,
.faq-right input,
.faq-right textarea {
  width: 100%;
  background-color: #fff6de;
  font-size: 16px;
  line-height: 21px;
  color: #2b361c;
  padding: 17px 30px;
  border-radius: 17px;
  border: none;
}

.add-resources-popup .resource-content textarea,
.inbox-right-container textarea,
.faq-right textarea {
  overflow-y: scroll;
  scrollbar-width: none;
  resize: none;
}

.add-resources-popup .resource-content textarea {
  min-height: 260px;
}

.inbox-right-container textarea {
  height: 337px;
}
.faq-right textarea {
  min-height: 430px;
  height: 100%;
}

.faq-right textarea:first-child {
  height: 90px;
  min-height: unset;
}

.add-resources-popup .modal-header .btn-close {
  position: absolute;
  top: -16px;
  right: 0;
  background-image: url(src/img/popup-close.svg);
  opacity: 1;
}

.resource-check-wrap {
  height: 100%;
}

.resource-check-wrap label {
  color: #f4fafd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  font-size: 16px;
  line-height: 21px;
}

.resource-check-wrap label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #fff6de;
  border-radius: 50%;
  transform: translateY(-50%);
}

.resource-check-wrap label::after {
  content: "";
  position: absolute;
  top: 38%;
  left: 20px;
  transform: translate(-50%, 0);
  background-image: url(src/img/checkbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 16px;
  z-index: -1;
}

.resource-check-wrap label input {
  display: none;
}

.resource-check-wrap label input::placeholder,
.inbox-right-container input::placeholder {
  color: #2b361c;
}

.resource-management .resource-img {
  height: 232px;
}

.resource-management .resource-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.resource-management .edit-resource-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.resource-management .edit-resource-left h3 {
  font-size: 23px;
  line-height: 22px;
  font-weight: 700;
  color: #2a333e;
  margin-bottom: 6px;
}

.resource-management .edit-resource-left h3 span {
  margin-left: 10px;
}

.edit-resource-left h3 svg {
  width: 25px;
  height: 25px;
}

.edit-resource-left h3 svg tspan {
  text-transform: lowercase;
}

.resource-management .edit-resource-left p {
  font-size: 9px;
  line-height: 12px;
  font-weight: 700;
  color: #2377bd;
}

.resource-management p.date {
  font-size: 12px;
  line-height: 16px;
  color: rgba(43, 54, 28, 0.63);
}

.resource-management .resource-bottom {
  margin-top: 12px;
}

.resource-management .resource-bottom .likes svg {
  width: 16px;
  height: 14px;
}

.resource-management .resource-bottom .likes p {
  font-size: 10px;
  color: rgba(43, 54, 28, 0.63);
}

.resource-management .edit-resource-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 21px;
}

.resource-management .edit-resource-content p {
  font-size: 10px;
  line-height: 15px;
  color: #2a333e;
}

/* static content */


.inner-main-container .static-content-left {
  padding-right: 30px;
}

.inner-main-container .static-content-right {
 padding-left: 30px;
}

.static-content h3 {
  color: #13313c;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}

.static-content .content-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.static-content .content-heading a {
  padding: 3px 5px;
  background-color: #f7b085;
  color: #2a333e;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 10px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  max-width: 50px;
  height: 20px;
  line-height: normal;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-content .content-card {
  padding: 26px 20px 16px 33px;
  border: 1px solid #a2caec;
  height: calc(100vh - 180px);
  overflow: auto;
  scrollbar-width: none;
}

.static-content .content-card p {
  font-size: 12px;
  line-height: 20px;
  color: #2a333e;
  margin-bottom: 30px;
}

.add-resources-popup .resource-check-wrap label:has(input:checked)::after {
  z-index: 1;
}

.add-resources-popup .resource-select {
  position: relative;
}

.add-resources-popup .resource-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translate(-50%, 0);
  background-image: url(src/img/popup-select\ arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
}

.inbox-left-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #86c6b4;
  border-radius: 15px;
  padding: 32px;
  height: calc(100vh - 130px);
}

.inbox-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inbox-name h4 {
  font-size: 16px;
  /* line-height: 27px; */
  color: #043856;
  font-family: "Open Sans", sans-serif;
}

.inbox-name.new-msg h4 {
  font-weight: 700;
}

.inbox-name {
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(135, 208, 200, 0.35);
}

.inbox-inner-container {
  overflow-y: scroll;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inbox-inner-container::-webkit-scrollbar,
.content-left::-webkit-scrollbar,
.user-accordion-section .user-accordion::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.inbox-inner-container::-webkit-scrollbar-thumb,
.content-left::-webkit-scrollbar-thumb,
.user-accordion-section .user-accordion::-webkit-scrollbar-thumb {
  border-radius: 19px;
  background-color: #e3e7e8;
}

.inbox-right-container {
  height: calc(100vh - 130px);
}

.inbox-right-container form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 100%;
}

.inbox-right-container label {
  width: 100%;
}

.btn-submit {
  max-width: 100%;
  background-color: #f7b085;
  border: 1px solid transparent;
  margin-top: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-submit:hover {
  background-color: transparent;
  border: 1px solid #f7b085;
}

/* faq section */

.content-left {
  height: calc(100vh - 180px);
  overflow-y: scroll;
  padding-right: 20px;
}


.faq-accordion {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-accordion .accordion-item .faq-heading-wrapper {
  width: 100%;
  border-top: 1px solid #ede290;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.faq-accordion .accordion-item:first-child .faq-heading-wrapper {
  border-top: unset;
}

.faq-accordion .accordion-item .faq-heading {
  gap: 10px;
}

.faq-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.accordion-button::after {
  background-image: url(src/img/faq-accordion-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 21px;
  position: absolute;
  top: 26px;
  right: -30px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(src/img/faq-accordion-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
  transform: rotate(90deg);
}

.faq-accordion .faq-heading h2 {
  font-size: 18px;
  line-height: 30px;
  color: #2377bd;
  font-weight: 700;
}

.faq-accordion .faq-heading .faq-buttons {
  margin-left: 12px;
}

.faq-content p {
  font-size: 13px;
  line-height: 22px;
  color: #13313c;
  margin-bottom: 10px;
}

.faq-right {
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: calc(100vh - 180px);
}

.faq-right textarea:last-of-type {
  height: calc(100vh - 400px);
  min-height: unset;
}

@media (max-width: 991px) {
  .header {
    padding: 20px 10px;
  }

  .header h1 {
    font-size: 17px;
    line-height: 14px;
  }

  .header .header-filter-wrapper {
    max-width: 180px;
  }

  .main-container {
    margin-top: 95px;
  }

  .main-container.dashboard {
    margin-top: 96px;
  }

  .sidebar {
    width: 85px;
    top: 95px;
    padding-top: 5px;
    height: calc(100vh - 95px);
  }

  .sidebar .sidebar-links-wrap {
    gap: 25px;
  }

  .inner-main-container {
    width: calc(100% - 85px);
    padding: 0 10px;
  }

  .user-accordion-section {
    padding: 25px 30px;
  }

  .user-accordion-section .user-accordion {
    height: calc(100vh - 230px);
    padding-right: 25px;
  }

  .resource-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .inner-main-container .static-content {
    padding-top: 20px;
  }

  .inner-top-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .inner-container {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }

  .content-card h2,
  .card-top h2 {
    font-size: 16px;
  }

  .top-card span,
  .inner-top-container .inner-card span {
    font-size: 15px;
  }

  .add-resources-popup {
    padding: 40px 35px;
  }

  /* inbox */

  .inbox-left-container {
    padding: 25px;
    height: calc(50vh - 100px);
  }
  
  .inbox-name h4 {
    font-size: 14px;
  }

  .add-resources-popup .resource-title input, .add-resources-popup .resource-check-and-popup select, .add-resources-popup .resource-content textarea, .inbox-right-container input, .inbox-right-container textarea, .faq-right input, .faq-right textarea {
    padding: 15px 20px;
  }

  .btn.btn-submit {
    font-size: 20px;
    margin-top: 25px;
  }

  /* static content  */
  .inner-main-container .static-content-left, .inner-main-container .static-content-right {
    padding-right: unset;
    padding-left: unset;
  }


}

@media (max-width: 768px) {

  .header h1 {
    line-height: normal;
  }

  .header .hamburder-bnt, .sidebar-inner .logo {
    display: block;
  }

  .header .logo {
    display: none;
  }


  .header .header-right {
    width: calc(100% - 60px);
  }

  .main-container {
    margin-top: 85px;
  }

  .sidebar {
    width: 85px;
    background-color: #fff;
    padding-top: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 0;
    margin-top: 0;
    height: 100%;
  }

  .inner-main-container {
    padding: 0 10px;
    width: 100%;
  }

  
  .resource-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .resource-management .resource-img {
    margin-top: 20px;
  }

  .login-logo {
    justify-content: flex-end;
  }

  .login-form-wrapper {
    align-items: flex-start;
  }

  .login-form-wrapper form {
    padding-top: unset;
  }

  .card-top {
    margin-bottom: 10px;
  }

  .card-text-content p,
  .card-user-container p {
    font-size: 14px;
  }

  .sidebar .logo {
    width: 40px;
  }

  .sidebar .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .static-content h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .inner-main-container .static-content {
    padding-top: 20px;
  }

  .user-accordion-section .user-accordion {
    padding-right: 20px;
  }

  .resource-management .edit-resource-left h3 {
    font-size: 20px;
  }

  .btn-popup {
    max-width: 135px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: normal;
  }

  .add-resources-popup .modal-title {
    font-size: 20px;
  }

  .add-resources-popup .resource-title input, .add-resources-popup .resource-check-and-popup select, .add-resources-popup .resource-content textarea, .inbox-right-container input, .inbox-right-container textarea, .faq-right input, .faq-right textarea{
    font-size: 14px;
    line-height: 19px;
    padding: 14px 25px;
  }

  /* inbox  */
  .inbox-inner-container {
    gap: 22px;
  }
  .inbox-name {
    padding-bottom: 20px;
  }

  .inbox-right-container {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 70vh;
  }

  .btn.btn-submit {
    margin-top: 20px;
    line-height: normal;
}

.static-content .content-card {
  padding: 15px 20px;
  height: calc(50vh - 100px);
}

.faq .content-right {
  padding-top: 20px;
}

.faq-accordion .accordion-item .faq-heading-wrapper {
  justify-content: space-between;
}

.faq-accordion .faq-heading h2 {
  font-size: 14px;
    line-height: normal;
}

.faq-content p {
  font-size: 11px;
  line-height: 20px;
  margin-top: 10px;
}

.content-left {
  padding-right: 15px;
}

}

@media (max-width: 576px) {

  .header h1 {
    font-size: 14px;
    font-weight: 600;
  }

  .header .header-right {
    gap: 10px;
  }

  .header .header-filter-wrapper {
    padding: 5px 15px;
    max-width: fit-content;
    justify-content: center;
  }

  .header .header-filter-wrapper .filter-text {
    display: none;
  }

  /* dashboard  */

  .inner-main-container {
    gap: 15px;
  }

  .inner-top-container{
    gap: 10px;
  }

  .inner-top-container .content-card {
    padding: 15px 10px;
}

.inner-container .content-card, .resource-container.content-card {
  padding: 10px 15px;
}

.resource-card {
  gap: 8px;
}

.resource-title h3 {
  font-size: 13px;
}

.top-searchbar-wrap {
  gap: 10px;
}

.top-search-btn{
  max-width: 100px;
}

.top-search-btn .btn {
  padding: 8px 10px;
  font-size: 13px;
}


  /* user management  */
  .accordion-heading {
    font-size: 12px;
  }

  .user-accordion .accordion-collapse-inner th {
    font-size: 10px;
  }

  .user-accordion tbody td p, .user-accordion tbody td a {
    font-size: 11px;
    line-height: 17px;
  }

  .edit-dots-wrap .edit-dots-popup {
    width: 58px;
    padding: 10px 10px;
  }

  .resource-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .login-form-wrapper form a.login {
    margin-top: 20px;
  }

  #myModal .popup {
    width: calc(100% - 20px);
  }

  .inner-top-container .content-card {
    padding: 15px 10px;
  }

  .content-card h2,
  .card-top h2 {
    font-size: 14px;
    line-height: normal;
  }

  .static-content .content-card {
    padding: 10px 15px;
  }

  .select-wrappper select {
    font-size: 12px;
    padding: 7px 15px;
    padding-right: 28px;
  }

  .resource-management .edit-resource-content, .resource-management .resource-img {
    margin-top: 10px;
  }

  .resource-management .edit-resource-left h3 {
    font-size: 16px;
    line-height: normal;
}

.resource-management .edit-resource-left h3 span {
  margin-left: 5px;
}

.resource-management .resource-bottom {
  margin-top: 8px;
}

.edit-resource-left h3 svg {
  width: 20px;
  height: 20px;
}

.resource-check-and-popup {
  padding-top: 8px;
}

.add-resources-popup .resource-title input, .add-resources-popup .resource-check-and-popup select, .add-resources-popup .resource-content textarea, .inbox-right-container input, .inbox-right-container textarea, .faq-right input, .faq-right textarea{
  font-size: 12px;
  line-height: normal;
  padding: 14px 20px;
}

.add-resources-popup {
  padding: 30px 20px;
}

.add-resources-popup .modal-title {
  font-size: 16px;
}

.resource-check-wrap label::after {
  top: 0;
}

.resource-check-wrap label {
  justify-content: flex-start;
  padding-left: 55px;
  font-size: 14px;
  line-height: normal;
}

.btn-popup {
  max-width: 100px;
  padding: 8px 15px;
  font-size: 15px;
}

.btn.btn-submit {
  font-size: 18px;
  margin-top: 15px;
}

}

@media (max-width: 480px) {
  .resource-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
